body{
    margin:0;
    padding: 0;
   

}

.naresh{
    width: 100%;
    height: 300px;
    background: linear-gradient(red,blue);
    
     transform:rotate(180deg);
     border-radius:49% 51% 100% 0% / 100% 100% 0% 0%    ;
     overflow:hidden;
}
h1{position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%,-50%);
}