body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    ;
}

section{
    position: relative;
    width:100%;
    height=80vh;
    display: flex;
    justify-content:center;
    overflow: hidden;
}

section :before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: linear-gradient(45 deg,#ff0081,#6827b0);
    background-color: #000;
    transform: scale(1.5);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
}


section .content{
    position: relative;
    z-index: 1;
    margin:0 auto;
    max-width: 900px;
    text-align:center ;


}

section .content h2{
margin:0;
padding: 0;
font-size : 3em;
color:rgb(241, 190, 190);

section .content p{
   
    font-size : 1.2em;
    color:rgb(200,200,200);